$bgColor : #ffffff;
$btnBlue: rgb(59, 105, 255);
$jpnFont: "M PLUS Rounded 1c";
$titleFont: 'M PLUS 1p', sans-serif;
$mobile: "only screen and (max-width : 480px)";
$tablet: "only screen and (max-width : 780px)";
